.label-queue {
  .label {
    display: inline-block;
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

[ui-view].ng-enter {


//  position: absolute;
//  animation: bounceInRight 5s;
}

[ui-view].ng-leave {
//  position: absolute;
//  animation: bounceOutLeft 5s;
}

